@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Poppins:wght@400;700&display=swap');

:root {
    --font-heading: 'Anton', sans-serif;
    --font-cursive: 'Pacifico', cursive;
    --font-body: 'Poppins', sans-serif;
}
